#bbs_info_box {
	color: rgba(0, 0, 0, 0.6);
}
#bbs_info_box span.line {
	background: none repeat scroll 0 0 #ccc;
    display: inline-block;
    height: 12px;
    margin: 3px 10px 0;
    overflow: hidden;
    padding: 0;
    vertical-align: top;
    width: 1px;
}
#bbs_info_box span a {
	color:#105cb6;
}
#hot {
	margin-top:10px;
	background:#fff;
	padding:0 0 10px 0;
}
#hot .title {
	height:34px;
	color:#ff0000;
	font-weight:bold;
	border-bottom:1px solid #e4e4e4;
	line-height:40px;
	text-indent:10px;
	margin:0 0 10px 0;
}
#hot .newlist li {
	width:480px;
	float:left;
	text-indent:15px;
	line-height:23px;
}
#hot .newlist li a {
	color:#333;
}
.box {
	border-left:1px solid #f1f1f1;
	border-right:1px solid #f1f1f1;
	margin-top:-1px;
}
.box .title {
	background:#f7f7f7;
	border-top:1px solid #e5e5e5;
	border-bottom:1px solid #e5e5e5;
	padding:7px 10px;
	color:#105cb6;
	font-weight:bold;
}

.box .classList {
	background:#ffffff;
	padding:0 15px;
}
.box .classList .childBox {
	width:264px;
	height:51px;
	padding:10px 0 10px 46px;
	border-bottom:1px dashed #e4e4e4;
	float:left;
	background:pink;
	color:#444444;
}
.box .classList .childBox a span {
	color:#333;
}
.box .classList .childBox h2 {
	padding-bottom:3px;
}
.box .classList .childBox h2 a {
	color:#333;
	font-weight:bold;
}
.box .classList .childBox h2 span {
	color:#ff5500;
	font-weight:normal;
}
.box .classList .new {
	background:url(new.gif) 0px center no-repeat;
}
.box .classList .old {
	background:url(old.gif) 0px center no-repeat;
}
.box .classList .lock {
	background:url(lock.gif) 0px center no-repeat;
}
#flink {
	margin-top:15px;
	background:#fff;
	border-bottom:1px solid #d3d3d3;
}
#flink h2 {
	padding:10px 0;
	font-weight:bold;
	color:#333;
	border-bottom:1px solid #d3d3d3;
	text-indent:10px;
}
#flink .flinkList {
	width:940px;
	padding:10px;
}
#flink .flinkList a {
	color:#333333;
}
#main {
	background:url(main_bg.png) repeat-y;
	margin-top:10px;
}
#main #left {
	width:638px;
	padding:7px 20px;
	float:left;
}
#main #right {
	width:282px;
	float:right;
}
#main #left .box_wrap {
	color:#666;
	line-height:22px;
}
#main #left div.box_wrap h3 {
	margin:14px 0 0 0;
	font-size:14px;
	color:red;
}
#main #left div.num span {
	color:#000;
	font-weight:bold;
}
#main #left div.moderator span {
	color:#333;
}
#main #left div.pages_wrap {
	margin:12px 0 0 0;
}
#main ul.postsList {
	margin:10px 0 0 0;
	border-top:1px dashed #ddd;
}
#main ul.postsList li {
	border-bottom:1px dashed #ddd;
	padding:15px 0;
}
#main ul.postsList li div.smallPic {
	width:55px;
	float:left;
} 
#main ul.postsList li div.subject {
	width:450px;
	float:left;
}
#main ul.postsList li div.count {
	color: #999;
	line-height: 18px;
	text-align: center;
}
#main ul.postsList li div.count p {
	background: none repeat scroll 0 0 #f4f4f4;
	border-radius: 3px;
	display: block;
	float: right;
	height: 36px;
	margin: 0 0 0 10px;
	overflow: hidden;
	padding: 4px 0;
	width: 54px;
}
#main ul.postsList li div.count p span {
	font-weight:bold;
}
#main ul.postsList li div.subject .titleWrap a,#main ul.postsList li div.subject .titleWrap h2 {
	font-size:14px;
	color:#105cb6;
}
#main ul.postsList li div.subject .titleWrap h2 {
	display:inline;
}
#main ul.postsList li div.subject p {
	color:#999;
	padding:10px 0 0 0;
}

#main #right .classList .title {
	width:260px;
	margin:0 auto;
	padding:7px 0;
	font-weight:bold;
	color:#666;
	text-indent:10px;
	border-bottom:1px solid #e8e8e8;
}
#main #right .classList ul.listWrap {
	width:220px;
	margin:15px auto 0 auto;
}
#main #right .classList ul.listWrap li h2 a {
	color:#333;
	font-weight:normal;
}
#main #right .classList ul.listWrap li ul {
	margin:5px 0 10px 0px;
}
#main #right .classList ul.listWrap li ul li {
	background:url(style_icon.png) 0px -389px no-repeat;
	line-height:180%;
    border-radius:3px;
    color: #666;
    padding-left:10px;
}
#main #right .classList ul.listWrap li ul li h3 a {
	font-weight:normal;
	color:#666;
}
#main #right .classList ul.tagList {
	width:240px;
	margin:0 auto;
}
#main #right .classList ul.tagList li {
	display:inline-block;
	margin:10px 5px 5px 0;
}
#main #right .classList ul.tagList li a {
	background:none repeat scroll 0 0 #f6f6f6;
	border-radius:3px;
	color:#333333;
	display:block;
	float:left;
	height:24px;
	line-height:24px;
	padding:0 8px;
	text-decoration:none;
}
#main #right .classList ul.tagList li a:hover {
	background:#999;
	color:#fff;
}
/**基本格式开始***************/
* {
	/*word-break: break-all;*/
}
body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,form,input,textarea,p {
	margin:0px;
	padding:0px;
	font-size:13px;
	font-family:Tahoma;
}
ul {
	list-style:none;
}
img,a img {
	border:none;
}
a {
	text-decoration:none;
}
a:hover {
	text-decoration:underline;
}
body {
	background:#f4f4f4;
	color:#333;
}
.auto {
	width:960px;
	margin:0 auto;
}
#position {
	background:url(style_icon.png) 0px -60px no-repeat;
	text-indent:20px;
}
#position a {
	color:#666;
}
/**基本格式结束***************/
.header_wrap {
	background:#488fce;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    display: block;
    left: 0;
    position:fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}
#header {
	height:45px;
	line-height:45px;
}
#header .logo {
	width:100px;
	font-size:20px;
	font-family:微软雅黑;
	font-weight:bold;
	color:#fff;
	float:left;
	
}
#header .nav a {
	color:#fff;
	display:block;
	width:56px;
	float:left;
	text-align:center;
	font-size:14px;
	cursor:pointer;
}
#header .nav a.hover {
	background:#3b7fc4;
}
#header .serarch {
	background: none repeat scroll 0 0 #f2f2f2;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    display: inline;
    float: left;
    height: 28px;
    margin: 8px 0 0 10px;
    padding:0;
    width: 160px;
}
#header .serarch:hover {
	background:#fff;
}
#header .serarch input.keyword {
	width:130px;
	height:20px;
	margin:3px 0 0 5px;
	display:block;
	float:left;
	border:0px;
}
#header .serarch input.submit {
	background:url(style_icon.png) 0px -593px;
    border: 0 none;
    cursor: pointer;
    float: right;
    height: 28px;
    margin: 0;
    overflow: visible;
    padding: 0;
    text-align:left;
    width: 25px;
    float:right;
}
#header .login {
	float:right;
	width:70px;
}
#header .login a {
	color:#fff;
}
a.btn {
	display:block;
	width:70px;
	height:30px;
	float:left;
}
a.publish {
	background:url(bg.png) 0 0 no-repeat;
}
a.reply {
	background:url(bg.png) 0 -90px no-repeat;
}
.pages_wrap .pages {
	float: right;
}
.pages a {
    background:url(core_bg.png) #f8f8f8;
    border-color: #c9c9c9 #bdbdbd #b0b0b0;
    border-image: none;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    color: #666666;
    display: inline-block;
    line-height: 13px;
    margin-right: 3px;
    padding: 6px 10px;
    text-decoration: none;
    vertical-align: top;
}
.pages a:hover {
	background-color: #f8f8f8;
    border-color:#c9c9c9 #bdbdbd #b0b0b0;
    border-image:none;
    border-radius:3px;
    border-style:solid;
    border-width:1px;
    color:#666666;
    display:inline-block;
    line-height:13px;
    margin-right:3px;
    padding:6px 10px;
    text-decoration:none;
    background:#488fcf;
    border-color: #2470b5 #488fcf #488fcf;
    color:#fff;
}
.pages span {
    background-color: #f8f8f8;
    border-color:#c9c9c9 #bdbdbd #b0b0b0;
    border-image:none;
    border-radius:3px;
    border-style:solid;
    border-width:1px;
    color:#666666;
    display:inline-block;
    line-height:13px;
    margin-right:3px;
    padding:6px 10px;
    text-decoration:none;
    background:#488fcf;
    border-color: #2470b5 #488fcf #488fcf;
    color:#fff;
}

#footer {
	border-top:1px solid #d3d3d3;
	text-align:center;
	padding:20px 0;
	margin-top:30px;
}
#footer a {
	color:#666;
}
#footer .bottom {
	padding:0 0 8px 0;
}
#footer .copyright {
	color: #999;
    font-size: 10px;
    text-align: center;
}
#publish {
	-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #fff;
    border-color: #fff #efefef #d3d3d3;
    border-image: none;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.02);
    margin-bottom: 15px;
    padding:10px 15px 40px 15px;
    margin:10px auto;
    width:930px;
}
#publish input.title {
	width:350px;
	height:26px;
	display:block;
	border:1px solid #ccc;
	color:#333;
	font-family:Tahoma;
}
#publish textarea.content {
	width:100%;
	height:200px;
	border:1px solid #ccc;
	margin-top:10px;
	font-size:14px;
	font-family:Tahoma;
}
input.publish {
	float: left;
	background:url(bg.png) 0 -0px;
	display: block;
    height:30px;
    text-decoration:none;
    text-indent:-2000px;
    width:70px;
    margin:10px 0 0 0;
    border:0px;
    cursor:pointer;
}
input.reply {
	float: left;
	background:url(bg.png) 0 -90px;
	display: block;
    height:30px;
    text-decoration:none;
    text-indent:-2000px;
    width:70px;
    margin:10px 0 0 0;
    border:0px;
    cursor:pointer;
}
#publish select {
	padding:0 20px 0 0;
	border:1px solid #ccc;
	margin:10px 0;
}
#publish optgroup {
	font-style:normal;
}
.quote {
	background:#dedede;
	padding:10px;
	border:1px solid #bbb;
	color:#121212;
	margin:10px 0 0 0;
}
.quote .title {
	font-weight:bold;
}
#register {
	background:#fff;
}
#register h2 {
	border-bottom: 1px solid #ededed;
    color: #666;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 15px;
}
#register form {
	color:#333;
}
#register form label {
	display:block;
	font-size: 14px;
    line-height: 25px;
    float:right;
    margin:40px 300px 0 0;
}
#register form label input {
	width:230px;
	height:18px;
	background-color: #fff;
    border: 1px solid #ccc;
    box-shadow:2px 2px 2px #f0f0f0 inset;
    color: #333;
    font-family: inherit;
    font-size: 100%;
    line-height: 18px;
    margin: 0;
    padding: 4px;
    vertical-align: middle;
}

#register form span {
	width:300px;
	display:inline-block;
	color:#999;
	font-size:12px;
	margin:0 0 0 5px;
}
.btn {
	border-radius: 2px;
    font-size: 14px;
    line-height: normal;
    padding: 6px 18px;
    background:url(core_bg.png) 0 0 #f3f3f3;
    border: 1px solid #b1aeae;
    border-radius: 2px;
    color: #333;
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    font-size: 100%;
    line-height: normal;
    margin: 0;
    overflow: visible;
    padding: 4px 10px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    white-space: nowrap;
}
#register .btn {
	margin:20px 0 60px 115px;
}
#register img.vcode{
	display: block;
    float: left;
    margin: 20px 0 0 114px;
}
#main .wrap1 {
	margin:12px 0 10px 0;
}
#main div.wrapContent {
	border-bottom:1px solid #ccc;
	background:#fbfbfb;
	margin-bottom:10px;
	padding-bottom: 20px;
}
#main div.wrapContent div.left {
    border-right:1px solid #e9e9e9;
    width:160px;
    float:left;
}
#main div.wrapContent div.left div.face {
	text-align:center;
}
#main div.wrapContent div.left div.face img {
	margin:20px 0 0 0;
}
#main div.wrapContent div.left div.name {
	text-align:center;
	margin:5px 0;
}
#main div.wrapContent div.left div.name a {
	color:#333;
	font-weight:bold;
}
#main div.wrapContent div.left div.level {
	text-align:center;
}
#main div.wrapContent div.left div.operate {
	width:120px;
	margin:3px auto 0 auto;
	padding:0 0 10px 0;
}
#main div.wrapContent div.left div.operate a {
	color: #999;
    display: inline-block;
    height:20px;
    line-height:20px;
    text-indent:10px;
}
.quote {
	background:#dedede;
	padding:10px;
	border:1px solid #bbb;
	color:#121212;
	margin:10px 0 0 0;
}
.quote .title {
	font-weight:bold;
}
#main div.wrapContent div.left div.operate a.left {
	float:left;
	background:url(bg.png) -150px 6px no-repeat;
}
#main div.wrapContent div.left div.operate a.right {
	float:right;
	background:url(bg.png) -150px -25px no-repeat;
	padding-left:5px;
}
#main div.wrapContent div.right {
	background:#fff;
    float:right;
    width:759px;
    padding:5px 20px 20px 20px;
    border-left:1px solid #e9e9e9;
    margin-left:-1px;
}
#main div.wrapContent div.right div.title {
	border-bottom:1px dashed #dddddd;
	padding:10px 0px 12px 0;
}
#main div.wrapContent div.right div.title h2 {
	display:inline-block;
	float:left;
	font-size:16px;
}
#main div.wrapContent div.right div.title span {
	display:inline-block;
	float:right;
	color:#999;
}
#main div.wrapContent div.right div.pubdate {
	margin:10px 0 30px 0;
}
#main div.wrapContent div.right div.pubdate .date {
	color:#666;
}
#main div.wrapContent div.right div.pubdate .floor {
	color:#999;
	float:right;
}
#main div.wrapContent div.right div.pubdate .floor a {
	color:#666;
	font-size:13px;
}
div.content {
	line-height:180%;
}
div.content,div.content div,div.content ul,div.content ol,div.content li,div.content dl,div.content dt,div.content dd,div.content h1,div.content h2,div.content h3,div.content h4,div.content h5,div.content h6,div.content form,div.content input,div.content textarea,div.content p {
	font-size:14px;
	color:#333;
}
.wrap1 .pages {
	float:left;
}
.wrap1 .btn {
	float:right;
}


