/* header */

/*-- header --*/

h1.logo a.navbar-brand {
	font-family: 'Poiret One', cursive;
	font-size: 1em;
             padding-left: 10px;
	letter-spacing: 20px;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.38);
	color: #ffffff;
	margin: 0;
}

.navbar-light .navbar-brand:hover,
.navbar-light .navbar-brand:focus {
	color: 	#EEB422;
}

h1.logo a.navbar-brand i {
	color: #9e07d6;
	margin-right: 5px;
}

.top-mid p {
	display: inline-block;
	margin-right: 1.5em;
}

.top-mid p i {
	color: #9e07d6;
	margin-right: 0.6em;
	text-shadow: 2px 1px 1px rgb(114, 161, 247);
}

.top-header {
background-color: rgba(56, 56, 56, 0.3) !important;
	border-bottom: 0px solid #9e07d6;
	position: absolute;
	width: 100%;
	z-index: 9;
	padding: 0.6em 1.5em;
}

.top-header .navbar-nav .nav-link,
.dropdown-item {
	color: #ffffff;
	font-size: 15px;
	letter-spacing: 1px;
	margin: 0em 0.5em;
	padding: 8px 25px;
	font-weight: 500;
	border: 2px solid transparent;
	text-shadow: 1px 1px 2px #000000;
}

.dropdown-item {
	margin: 0 !important;
}

.dropdown-menu {
	background-color: rgba(255, 255, 255, 0.43);
	padding: 0;
}

.dropdown-item.active,
.dropdown-item:active {
	color: #000;
	text-decoration: none;
	background-color: #ffffff;
}

.top-header .navbar-nav .show>.nav-link,
.top-header .navbar-nav .active>.nav-link,
.top-header .navbar-nav .nav-link.show,
.top-header .navbar-nav .nav-link.active,
.top-header .navbar-nav .nav-link:hover {
	color: #ffffff;
	text-shadow: 1px 1px 2px #000000;
	border-bottom: 2px solid rgba(255, 255, 255, 0.67);
	border-radius: 0px;
}

/*-- //header --*/
/*--/banner --*/

.banner-content1 {
    background: url(../img/beagle.jpg)no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
    position: relative;
    min-height: 50em;
}

.banner-content1.inner {
    background: url(../img/1.jpg)no-repeat 0px 0px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
    position: relative;
    min-height: 10em;

}

.clicking_up {
    height: 15px;
    margin-top:-5px;
    margin-right:5px;
}

.title{
    margin: -90px 0px 0px 0px;
    color: #1e272e;
    font-size:20px;
    text-align:left;
}
.username {
    margin: -90px 0px 0px 0px;
    color: #808080;
    font-size:15px;
    text-align:left;
}
.txt {
    margin: -90px 0px 0px 0px;
    color: #bababa;
    font-size:12px;
    text-align:left;
}
#Headportrait {
    margin: 0px 0px 0px 0px;
    padding-left:100px;
    border-radius:50% 50% 50% 50%;
    text-align:right;
}

#bgcolor:hover{
    background-color: #ccc;
}
.Ntitle{
    margin: 0px 0px 0px 0px;
    color: #1e272e;
    font-size:30px;
    text-align:left;
    font-weight:800;
}

.Ntxt {
    margin: 0px 0px 0px 0px;
    color: #bdbdbd;
    font-size:15px;
    text-align:left;
    border:none;
    overflow:hidden;
    background: rgba(0,0,0,0);
}

.NNtxt {
    margin: 0px 0px 0px 0px;
    color: #484848;
    font-size: 18px;
    text-align: left;
    border: none;
    overflow: hidden;
    background: rgba(0,0,0,0);
}

.Nusername {
    margin: 0px 0px 0px 0px;
    color: #858585;
    font-size:15px;
    text-align:left;
    
}

.textpicture {
    margin-bottom:0px;
    text-align:right;
    box-shadow: #d8d8d8 3px 3px 10px 2px ;
}

.HeadPortrait {
    text-align: center;
    border-radius: 50%;

}

#bgcolor:hover {
    background-color: #ccc;
}

.toSent {
    border:solid;
    padding:5px;
    background: rgba(35, 156, 237, 0.5);
    color:white;
    box-shadow: #d8d8d8 3px 3px 10px 2px ;
    border-color: rgba(35, 156, 237, 0.5);
    border-top-left-radius:40px;
    border-top-right-radius:40px;
    border-bottom-left-radius:40px;
    border-bottom-right-radius:40px;
}
.toSent:focus{
    outline: none;
}

#userinfo {
    margin:20px auto;
    background: rgba(35, 156, 237, 0.3);
    border:1px solid darkslategray;
    box-shadow: #d8d8d8 3px 3px 10px 2px ;
    border:none;
}

#HotDiscussion {
    margin:20px auto;
    background: #ffcfcf;
    border:1px solid darkslategray;
    box-shadow: #d8d8d8 3px 3px 10px 2px ;
    border:none;
    color: #4d4d4d
}

#readmore {
    border:solid;
    padding:5px;
    background: rgba(35, 156, 237, 0.5);
    color:white;
    box-shadow: #d8d8d8 3px 3px 10px 2px ;
    text-align: center;
    border-color: rgba(35, 156, 237, 0.5);
    border-top-left-radius:40px;
    border-top-right-radius:40px;
    border-bottom-left-radius:40px;
    border-bottom-right-radius:40px;
}

#totop {
    text-align:center;
    
}

#totoppicture {
    height: 40px; 
    box-shadow: #d8d8d8 3px 3px 10px 2px; 
    border-radius: 50%; 
}

 .funclist{
	width:100%;
	display:block;
	background-color:#FFFAFA;
	}
	.emoji{
	width:10%;
	height:100%;;
	}
    .sendpost{
	margin-top:5em;
	}
	.send{
	margin-top:1em;
	}
.redBtn {
    border:solid;
    padding:5px;
    background: rgba(219, 24, 24, 0.5);
    color:white;
    box-shadow: #d8d8d8 3px 3px 10px 2px ;
    border-color: rgba(219, 24, 24, 0.5);
    border-top-left-radius:40px;
    border-top-right-radius:40px;
    border-bottom-left-radius:40px;
    border-bottom-right-radius:40px;
}


#dogPlate {
    margin:20px auto;
    background: rgba(35, 156, 237, 0.3);
    border:1px solid darkslategray;
    box-shadow: #d8d8d8 3px 3px 10px 2px ;
    border:none;
}

#ratPlate {
    margin:20px auto;
    background: rgba(35, 156, 237, 0.3);
    border:1px solid darkslategray;
    box-shadow: #d8d8d8 3px 3px 10px 2px ;
    border:none;
}

#catPlate {
    margin:20px auto;
    background: #ffcfcf;
    border:1px solid darkslategray;
    box-shadow: #d8d8d8 3px 3px 10px 2px ;
    border:none;
    color: #4d4d4d
}

#otherPlate {
    margin:20px auto;
    background: #ffcfcf;
    border:1px solid darkslategray;
    box-shadow: #d8d8d8 3px 3px 10px 2px ;
    border:none;
    color: #4d4d4d
}

.plateTitle {
    padding: 20px;
}
 
#mybox{

                padding-top:30px;
 height: 50px;

                position: relative;

            }

#mybox input{

         
                width: 100%;

                padding: 3px 5px;

                padding-right: 80px;

                height: 200%;

                box-sizing: border-box;

                border:1px solid #DDD;

                outline: none;

                border-radius: 3px;                

            }

#mybox span{

                position:absolute;

                display: block;

                width: 46px;

                height: 34px;

                right:2px;

                top:2px;

                line-height: 34px;

                background-color: red;

                color: #ffffff;

            }
#denglu {
    line-height: 1.499;
    position: relative;
    display: inline-block;
    font-weight: 400;
    white-space: nowrap;
    text-align: center;
    background-image: none;
    border: 1px solid transparent;
    -webkit-box-shadow: 0 2px 0 rgba(0,0,0,0.015);
    box-shadow: 0 2px 0 rgba(0,0,0,0.015);
    cursor: pointer;
    -webkit-transition: all .3s cubic-bezier(.645, .045, .355, 1);
    transition: all .3s cubic-bezier(.645, .045, .355, 1);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    height: 40px;
  weight:120px;
    padding: 0 15px;
    font-size: 14px;
    border-radius: 4px;
    color: #FFFAFA;
    background-color:#FFFAFA;
    border-color: #d9d9d9;
}
#denglu:focus{
    outline: none;
}

#plates {
    margin:20px auto;
    background: white;
    border:1px solid darkslategray;
    box-shadow: #d8d8d8 3px 3px 10px 2px ;
    border:none;
}

.subPlates {
    padding:5px;
    font-size: 16px;
    background: white;
    border:1px solid darkslategray;
    box-shadow: #d8d8d8 3px 3px 10px 2px ;
    border:none;
    border-top-left-radius:40px;
    border-top-right-radius:40px;
    border-bottom-left-radius:40px;
    border-bottom-right-radius:40px;
}

.plateTitle {
    padding: 20px;
    font-size:40px;
}

#platecolor:hover{
    background-color: rgba(219, 24, 24, 0.5);
}

  
.toop{
    /* 设置宽度高度背景颜色 */
    height:20%; /*高度改为自动高度*/
    width:35%;
   right: 5%;
    background:rgb(189, 181, 181);
    position: fixed; /*固定在顶部*/
    top: 0;/*离顶部的距离为0*/
    margin-bottom: 5px;
}
.toop ul{
    /* 清除ul标签的默认样式 */
    width: auto;/*宽度也改为自动*/
    list-style-type: none;
    white-space:nowrap;
    overflow: hidden;
    margin-left: 5%;
    /* margin-top: 0;          */
    padding: 0;

}
.toop li {
    float:left; /* 使li内容横向浮动，即横向排列  */
    margin-right:2%;  /* 两个li之间的距离*/
    position: relative;
    overflow: hidden;
}

.toop li a{
   /* 设置链接内容显示的格式*/
    display: block; /* 把链接显示为块元素可使整个链接区域可点击 */
    color:white;
    text-align: center;
    padding: 3px;
    overflow: hidden;
    text-decoration: none; /* 去除下划线 */
    
}
.toop li a:hover{
    /* 鼠标选中时背景变为黑色 */
    background-color: #111;
}
.toop ul li ul{
    /* 设置二级菜单 */
    margin-left: -0.2px;
    background:rgb(189, 181, 181);
    position: relative;
    display: none; /* 默认隐藏二级菜单的内容 */

}
.toop ul li ul li{
    /* 二级菜单li内容的显示 */
    
    float:none;
    text-align: center;
}
.toop ul li:hover ul{
    /* 鼠标选中二级菜单内容时 */
    display: block;



   
.container1 {
    height: 70px;
    width: 800px;
    margin: 100px auto 0 auto;
}
.parent1 {
    position: relative;
}
.search1 {
    width: 300px;
    height: 40px;
    border-radius: 18px;
    outline: none;
    border: 1px solid #ccc;
    padding-left: 20px;
    position: absolute;
}
.btn1 {
    height: 35px;
    width: 35px;
    position: absolute;
    background: url("images/topbar.png") no-repeat -2px -99px;
    top: 6px;
    left: 285px;
    border: none;
    outline: none;
    cursor: pointer;
}
